server:
  tomcat:
    uri-encoding: utf-8
  servlet:
    session:
      timeout: 30m
  port: 8081

spring:
  application:
    name: payment
  datasource:
    name: payment
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/payment?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
  profiles:
    active: prod

mybatis-plus:
  typeAliasesPackage: com.entity
  mapper-locations: classpath:mappers/*.xml
  config-location: classpath:mybatis-config.xml

nsq:
  nsqd-http: 127.0.0.1:4151
  nsqd-tcp: 127.0.0.1:4150
  nsqd-lookup1: 127.0.0.1


